/* Color properties */
/* Color Background-color */

#first {
  color: lightslategray;
  background-color: chocolate;
}

#second {
  color: crimson;
  background: yellow;
}

#three {
  color: rgb(100, 100, 100);
}

body {
  background: rgb(100, 34, 210);
}
