/* Color properties */
/* Color Background-color */

#first {
  color: rgb(100, 123, 56);
  background-color: rgba(0, 0, 0, 0.1);
}

#second {
  color: crimson;
  background: yellow;
}

#three {
  color: rgb(100, 100, 100);
}

body {
  background: rgba(55, 210, 34, 0.5);
}
