/* Color properties */
/* Color Background-color */

#first {
  color: #ff000f;
  background-color: #00ff00;
}

#second {
  color: crimson;
  background: yellow;
}

#thrird {
  color: rgb(100, 100, 100);
}

body {
  background: rgba(55, 210, 34, 0.5);
}
